body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100vh;
    margin-top: 40px;
}

.product-detail  {
    width: 600px;
    margin-left: calc(50% - 300px);
}

.cards-container {
 margin-top: 50px;
 height: 600px;
}

.team-card {
    bottom: 300px;
}

.karma-card {
    bottom: 300px;
    margin-bottom: 0px;
}

.calculator-card {
    bottom: 725px;
    left: calc(50% + 185px);
}

.supervisor-card {
    top: 123px;
    left: calc(50% - 500px);
}
